<ion-view title="Abrir Aula" scroll="false" ng-init="done=false">
	<!-- Always shows a header, even in smaller screens. -->
	<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
		<header class="mdl-layout__header">
			<div class="mdl-layout__header-row">
				<!-- Title -->
				<span class="mdl-layout-title">{{title}}</span>
				<!-- Add spacer, to align navigation to the right -->
				<div class="mdl-layout-spacer"></div>
				<!-- Navigation. We hide it in small screens. -->
			</div>
		</header>
		<div class="mdl-layout__drawer">
			<span class="mdl-layout-title">{{title}}</span>
		</div>
		<main class="mdl-layout__content">
			<div class="page-content">
				<!-- Your content goes here -->
				<div class="row">
					<div class="col s6" id="contenter">
						<div id="imagem">
							<!--<img src="/www/img/img1.png" alt="" id="img-qrcode" class="col s1 offset-s1">-->
						</div>
					</div>
				</div>
				<div>
					<!--<div class="row" style="margin-top: -30px;">
						<div class="col s6">
							<h5>Alunos Presentes</h5><hr/>
						</div>
					</div>-->
					<div class="row" style="margin-top: -20px;">
						<div class="col s12">
							<md-list>
							<md-list-item class="md-2-line" ng-repeat="nome in alunos">
									<p>{{nome}}</p>
								</md-list-item>
							</md-list>
						</div>
					</div>
					<div class="row" id="loading">
						<div class="col s1 offset-s5">
							<ion-spinner style="display: block;margin-top: 0px;" id="loading"></ion-spinner>
						</div>
					</div>
					<div layout="row">
						<div layout="col s6" id="btn-scan">
							<button class="waves-effect waves-light btn red md-raised md-cornered" ng-click="loadAlunos()" style="width: 100%;">Atualizar Lista de Presença</button>
						</div>
					</div>
				</div>
			</main>
		</div>
	</ion-view>

	<!-- 
<ion-list>
<ion-item ng-repeat="nome in aulas track by $index">
</ion-item>
</ion-list>
-->


<!-- <ion-view view-title="">
	<md-content>
	<!--<md-list>
		<md-list-item class="md-2-line" ng-repeat="nome in aulas">
			<p>{{nome}}</p>
		</md-list-item>
	</md-list>-->

	<!--<ion-spinner style="display: block;"></ion-spinner>
	<ion-list>
		<ion-item ng-repeat="nome in aulas track by $index">
			{{nome}}
		</ion-item>
	</ion-list>

	<div class="row">
		<div class="col s12">
			<button class="waves-effect waves-light btn red" id="btn-listar" ng-click="loadAulas()" style="width: 90%;">Lista Aulas</button>
			<md-button class="md-raised md-cornered" ng-click="loadAulas()" ng-hide="true">Mostrar Aulas</md-button>
		</div>
	</div>
</md-content>
</ion-view> -->
