<nav>
    <div class="nav-wrapper red">
      <a class="flow-text">{{ pag.title }}</a>
      <!--<a ng-click="" class="flow-text right"><i class="large material-icons">loop</i></a>-->
      <a class="flow-text right"><i class="large material-icons">search</i></a>
      <a data-activates="mobile-demo" id="btn-collapse" class="button-collapse"><i ng-click="alert()" class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="sass.html">Sass</a></li>
        <li><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>
      </ul>
    </div>
  </nav>