<ion-view title="Presença Manual">
  <qr-header></qr-header>

  <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s12">
          <i class="material-icons prefix">textsms</i>
          <input type="text" id="autocomplete-input" class="autocomplete">
          <label for="autocomplete-input">RA</label>
        </div>
      </div>
    </div>
  </div>


  <div class="nav tabs" style="position: fixed;">
    <button [id="scan-aula"] class="waves-effect waves-light btn col s12 red tab icon-left ion-android-person-add" id="btn-logar"> REGISTRAR PRESENÇA</button>
  </div>
</ion-view>