<ion-view title="Profile" id="page1" style="">
  <ion-content padding="true" class="has-header">
    <form id="profile-form1" class="list">
      <ion-item class="item-avatar" id="profile-list-item20" style="">
        <h2>Item</h2>
      </ion-item>
      <ion-item class="item-avatar" id="profile-list-item21" style="">
        <h2>Item</h2>
      </ion-item>
      <ion-item class="item-avatar" id="profile-list-item22" style="">
        <h2>Item</h2>
      </ion-item>
      <ion-item class="item-avatar" id="profile-list-item23" style="">
        <h2>Item</h2>
      </ion-item>
      <ion-item class="item-avatar" id="profile-list-item24" style="">
        <h2>Item</h2>
      </ion-item>
      <ion-item class="item-avatar" id="profile-list-item25" style="">
        <h2>Item</h2>
      </ion-item>
      <ion-item class="item-avatar" id="profile-list-item26" style="">
        <h2>Item</h2>
      </ion-item>
    </form>
  </ion-content>
</ion-view>